.input {
    border: none;
    background: none;
    outline: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

button {
    cursor: pointer;
}